body{
    margin: 5%;
    background-image: url("../img/space.png");
    background-size: ;
}

#header{
    background-color: #fcfcfc;
    border: 5px solid #fcfcfc;
    border-radius: 10px;
    padding: 13px;
    text-align: center;
    font-family: Consolas;
    
}

.element{
    background-color: #fcfcfc;
    border: 5px solid #fcfcfc;
    border-radius: 10px;
    padding: 13px;
}